body {
  background-color: rgb(106, 141, 184);
}

@media screen and (max-width: 600px) {
  label {
    clear: both;
    display: none;
  }
  form {
    margin: 0 auto;
  }
  .toggle {
    display: none;
  }
}

.form-group {
  padding-bottom: 2%;
}
