body {
  background-image: url(../assets/background-img.jpg);
  background-size: contain;
}

.nav-bar {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.center-me {
  text-align: center;
  margin: 0 auto;
}

.card {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

img {
  margin: 0 auto;
  max-width: 100%;
}

/* @media screen and (max-width: ) */

h1, h6 {
  text-align: center;
  padding-bottom: 2%;
}

p {
  text-align: center;
  text-decoration: underline;
}
