<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Show Recipe</title>
</head>
<body>
  <h1>Recipe</h1>
  <div class="recipe_card">
      <h3><%= recipe.title %></h3>
      <p><%= recipe.description %></p>
</body>
</html>
